.requestotppage {
    background-color: white;
    text-align: center;
    min-height: 681px;
    width: 100%;
    padding: 80px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.requestotppage .reqcard-group {
    width: 100%;
    max-width: var(--form-card-width); 
}
.requestotppage .request-content {
    width: 100%;
    padding: 60px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.requestotppage .left-column {
    background-color: #ffffff;
    padding: 20px;
}

.requestotppage .right-column {
    background-color: #ffffff;
    padding: 20px;
}

@media only screen and (max-width:1280px){
    .requestotppage {
        background-color: white;
        text-align: center;
        min-height: 681px;
        width: 100%;
        padding: 80px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .requestotppage .reqcard-group {
        width: 100%;
        max-width: var(--form-card-width); 
    }
    .requestotppage .request-content {
        width: 100%;
        padding: 60px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    
    .requestotppage .left-column {
        background-color: #ffffff;
        padding: 20px;
    }
    
    .requestotppage .right-column {
        background-color: #ffffff;
        padding: 20px;
    }
}

@media only screen and (max-width:800px){
    .requestotppage {
        background-color: white;
        text-align: center;
        min-height: 681px;
        width: 100%;
        padding: 80px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .requestotppage .reqcard-group {
        width: 100%;
        max-width: var(--form-card-width); 
    }
    .requestotppage .request-content {
        width: 100%;
        padding: 60px 20px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    
    .requestotppage .left-column {
        background-color: #ffffff;
        padding: 20px;
    }
    
    .requestotppage .right-column {
        background-color: #ffffff;
        padding: 20px;
    }
}

@media only screen and (max-width:360px){
    .requestotppage {
        background-color: white;
        text-align: center;
        min-height: 681px;
        width: 100%;
        padding: 80px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .requestotppage .reqcard-group {
        width: 100%;
        max-width: var(--form-card-width); 
    }
    .requestotppage .request-content {
        width: 100%;
        padding: 60px 20px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    
    .requestotppage .left-column {
        background-color: #ffffff;
        padding: unset;
    }
    
    .requestotppage .right-column {
        background-color: #ffffff;
        padding: unset;
    }
}