.Banner {
    display: flex;
    width: 634px;
    min-height: 76px;
    justify-content: center;
    align-items: center;


}
.Banner .Banner-Container{
    flex: 100%;
    background-color: #F8F8F8;
    display: flex;
    width: 634px;
    min-height: 76px;
    border-radius: 6px;

    justify-content: center;
    align-items: center;
}
.Banner .L{
    flex: 100%;
    padding: 0 0 0 40px;
}
.Banner .R{
    flex: 10%;
    display: flex;
    justify-content: center;
}
.Banner h1{
    font-size: 20px;
    font-weight: 700;
    color: #585958;
}
.Banner p{
    font-size: 12px;
    font-weight: 400;
    color: #959594;
}