.HomePage {
    background-color: white;
    text-align: left;
    min-height: 150vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.HomePage .card-group {
    max-width: var(--form-card-width);
    margin: 40px 0 0 0;
}

.HomePage .Home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 27px 0 0 0;
}

.HomePage .first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomePage .second {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomePage .third {
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomePage .fourth {
    background-color: #636463;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomePage .fifth {
    display: flex;
    align-items: center;
    justify-content: center;
}