.registerform {
    display: flex;
    flex-direction: column;
    max-width: 300;
    margin: 0 auto;
    z-index: 1;
}

.registerform h1 {
    font-size: 33px;
    font-weight: 400;
    font-family: 'Kittithada Bold 75';
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.registerform h2 {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Sukhumvit Set';
    color: #959594;
    ;
}

.registerform h3 {
    font-size: 9px;
    font-weight: 400;
    font-family: 'Sukhumvit Set';
    color: #959594;
    ;
}

.registerform h4 {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Sukhumvit Set';
    color: #00605C;
    ;
}

.registerform .nouser-text {
    text-align: center;
    align-items: center;
    padding-left: 30px;
}

.registerform .nouser-text h2 {
    display: inline-block;
    /* margin-right: 10px; */
}

.registerform .nouser-text h4 {
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: #00605C;
    text-decoration-thickness: 2px;
}

.registerform div {
    margin-bottom: 1rem;
}

.registerform .label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #959594;
    top: 259px;
    left: 765px;
    gap: 0px;
    border-radius: 6px 0px 0px 0px;
    border: 1px 0px 0px 0px;
}

.registerform .input-group {
    position: relative;
  }

.registerform .input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 314px;
    height: 38px;
}

.registerform .input::placeholder {
    color: #D8D9D9;
    font-family: 'Sukhumvit Set Light';
    font-size: 14px;
    font-weight: 500;
    text-align: left;

}

.registerform .toggle-icon {
    position: absolute;
    margin-left:280px;
    top: 50.7%;
    transform: translateY(-35%);
    cursor: pointer; 
}

.registerform .toggle-icon2 {
    position: absolute;
    margin-left:280px;
    top: 61.9%;
    transform: translateY(-50%);
    cursor: pointer; 
}

.registerform .terms-text {
    max-width: 80%;
}

.registerform .terms-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.registerform .checkbox-container {
    display: flex;
    align-items: top;
}

.registerform .checkbox-container label {
    margin-left: 0.5rem;
}

.registerform .checkbox-container input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin-right: 0.5rem;
}

.registerform .checkbox-container input[type="checkbox"]:checked {
    background-color: var(--head-background-color);
    border-color: var(--head-background-color);
}

.registerform .checkbox-container input[type="checkbox"]:checked::before {
    content: "\2713";
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.registerform .buttonReg{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Sukhumvit Set Medium';
    color: white;

    background-color: var(--head-background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    width: 238px;
    height: 38px;
    top: 611px;
    left: 803px;
    margin-top: 10px;
    margin-left: 45px;
}

.registerform .buttonReg:hover {
    background-color: rgb(97, 242, 141);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
}

.registerform .buttonReg:active{
    background-color: #004085;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
}

/* .registerform button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}

.registerform button[type="submit"].disabled {
    background-color: #6c757d;
    cursor: not-allowed;
} */