.registerpage {
    background-color: rgb(184, 230, 173);
    position: fixed;
    top: 68px;
    text-align: left;
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerpage .register-content {
    width: var(--container-content-width); 
    padding: 20px;
    display: grid;
    grid-template-columns: 450px 450px;
    height: 500px;
    justify-content: center;
    /* gap: 20px; */
}

.registerpage .left-column {
    background-color: #ff0000;
    padding: 20px;
}

.registerpage .right-column {
    background-color: #1700e7;
    padding: 20px;
    border-left: 1px solid #ddd;
}