.registerpage {
    background-color: rgb(184, 230, 173);
    /* position: static; */
    /* top: 68px; */
    text-align: left;
    /* min-height: 1000px; */
    /* max-width: var(--container-content-width); */
    width: 100%;
    padding: 80px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registerpage .card-group {
    width: 100%;
    max-width: var(--form-card-width); 
}
.registerpage .register-content {
    /* max-width: var(--container-content-width);  */
    width: 100%;
    padding: 60px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 500px; */
    justify-content: center;
    /* gap: 20px; */
}

.registerpage .left-column {
    background-color: #f4c8c8;
    padding: 20px;
}

.registerpage .right-column {
    background-color: #ffffff;
    padding: 20px;
    border-left: 1px solid #ddd;
}