.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--head-background-color);
    width: 100%;
    min-height: 203px;
    text-align: left;
}

.footer .footer-container {
    max-width: var(--container-content-width);
    width: var(--container-content-width);
    min-height: 203px;
    color: #fff;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-columns: 450px 1fr;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gold-bg-color);
    width: 100%;
    min-height: 47px;
    text-align: left;

    font-weight: 500;
    font-size: 13px;
    font-family: 'Sukhumvit Set text';
}

.last .last-container {
    max-width: var(--container-content-width);
    width: var(--container-content-width);
    min-height: 47px;
    color: #fff;
    justify-content: center;
    align-items: center;

    display: flex;
}

.last .last-txt {
    flex: 100%;
}

.last .last-language {
    flex: 10%;
}

.footer .contact-side {
    /*background-color: crimson;*/
    margin-top: 0px;
}

.footer .contact-txt {
    margin: 10px 0px 10px 0px;
    font-weight: 700;
    font-size: 16px;
}


.footer .phone-number {
    font-weight: 700;
    font-size: 24px;
    margin: 0px 0px 0px 10px;
}

.footer .data-side {
    /* background-color: darkorange; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 0px;
    font-size: 13px;
    font-weight: 500;
}

.footer .logo {
    margin: 0px 3px 0px 0px;
}

.footer .phone {
    display: flex;
    margin: 0px 0px 20px 0px;
}

.footer .contact-icon {
    display: flex;
    font-size: 13px;
    font-weight: 500;
}

.footer .icon {
    padding: 0px 0px 0px 15px;
}

/* @media only screen and (max-width:1200px) {
     .footer {
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: var(--head-background-color);

         position: fixed;
         bottom: 40px;
         width: 100%;
         min-height: 50vh;
     }

     .footer .footer-container {S

         position: fixed;
         bottom: 40px;
         width: 100%;
         min-height: 50vh;
         color: #fff;
         justify-content: center;
         align-items: center;
         display: grid;
     }

     .footer .contact-side {
         /*background-color: crimson;
         margin: 0px 0px 0px 50px;
     }

     .footer .data-side {
         /* background-color: darkorange;
         width: 100%;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         gap: 20px 0px;
         font-size: 14px;
     }
 } */